
__pycache__/
*.py[cod]
*.class
venv/
env/
.venv/
.env/
build/
dist/
*.egg-info/
.eggs/
.ipynb_checkpoints/
*.nbconvert.ipynb
*.nbconvert.py
*.asv
*.m~
*.fig
*.slxc
*.mex*
*.autosave
codegen/
slprj/
*.matlabcode
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~
.DS_Store
Thumbs.db
*.bak
